.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
 
  background-color: #9ACEEB;
  overflow: hidden; /* Optional: prevents child elements from overflowing the rounded corners */
}

.messages {
  border-radius: 10px; /* Rounded corners for each message */
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: #9ACEEB;
  padding: 10px; /* Ensure padding for consistent styling */
  background-color: #ffffff; /* Optional: background color for better visibility */
}

.message {
  background-color: white;
  padding: 10px;
  border-radius: 10px; /* Rounded corners for each message */
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message.me {
  background-color: #e0ffe0;
  align-self: flex-end;
  border-radius: 10px; /* Ensure rounded corners for user messages */
}

.participant-name {
  font-weight: bold;
}

.message-time {
  font-size: 0.8em;
  color: #999;
  margin-left: 10px;
}

.chat input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Rounded corners for the input field */
  width: 100%;
}
